@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.cardCointainer{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

.productCard, .cardCategory{
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.51); 
    box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.51);
    width: 30%;
    display:flex;
    justify-content: center;
    border-width: 5px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
 
}

.productCard:hover, .cardCategory:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.text{
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px 1px grey;
}

.name, .name1{
    text-align: center;
    font-size: x-large;
    text-shadow: 1px 1px grey;
}

.name1{
    display: none;
}

.cardCategory:hover .name1{
    display: block;
}

.name2{
    text-align: center;
    font-size: large;
    text-shadow: 0.5px 0.5px grey;
    border-style: groove;
}
.button{
    background-color: rgb(223, 222, 228);
    padding: 0 25px;
    display: flex;
    height: 40px;
    font-size: xx-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
    border-radius: 5px;
}


.button2{
    background-color: rgb(198, 193, 215);
    font-size: xx-large;
}

.productImg{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.item{
    width: 60%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bannerImg{
    margin-top: 15px;
    max-height: auto;
    width: 100%;
    background-size: cover;
    -webkit-box-shadow: 5px 7px 9px -2px rgba(0,0,0,0.43); 
    box-shadow: 5px 7px 9px -2px rgba(0,0,0,0.43);
}

.title, .motto{
    font-family: 'Electrolize', sans-serif;
    position: absolute;
    font-size: xx-large;
}

.title{
    top: 25%;
    left: 2.5%;
}

.motto{
    top: 30%;
    left: 2.5%;
}

.discount{
    position: absolute;
    right: 5%;
    top: 18%;
    width: 10%;
}

.footer{
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.51); 
    box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.51);
    background: rgb(236, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.divFooter1, .divFooter2, .divFooter3, .divFooter4{
    width: 25%;
    flex: 1;
    text-shadow: 1px 1px whitesmoke;
}

.product{
    width: 100%
}

.productImg2{
    width: 25%;
}

.cart{
    border-style: groove;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 10%;
    flex: 1;
}

.divCart1, .divCart2, .divCart3{
    width: 25%;
    flex: 1;
    text-shadow: 1px 1px whitesmoke;  
}

.cartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout{
    flex: 1;
    border-style: groove;
    width: 35%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 10%;
    left: 60%;
}

.checkout1, .info, .amount, .buyNow{
    display: flex;
    flex: 1;
}

.info{
    display: flex;
    justify-content:left;
    align-items: left;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0) translateX(-30px);
        opacity: 0;
        }
    70%{
        transform: rotate(0) translateX(15px);
        opacity: 0.76;
        }
    100%{
        transform: rotate(0) translateX(0px);
        opacity: 1;
        }
}

.title{
    animation: yourAnimation 0.7s forwards 0.3s ease;
}

@keyframes yourAnimation2{
    0%{
        transform: rotate(0) scale(0.8) skewY(25deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) skewY(0deg);
        opacity: 1;
        }
}

.discount{
    animation: yourAnimation2 1s forwards 0s ease;
}