@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.cardCointainer{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

.productCard, .cardCategory{

    background: #f2f6f8;
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 50%); 
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 30%);
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 60%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); 
    width: 30%;
    display:flex;
    justify-content: center;
    border-style: outset;
    border-color: rgb(75, 73, 73);
    border-width: 5px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
 
}

.productCard:hover, .cardCategory:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.text{
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px 1px grey;
}

.name, .name1{
    text-align: center;
    font-size: x-large;
    text-shadow: 1px 1px grey;
}

/* .name1{
    display: none;
}

.cardCategory:hover + .name1{
    display: block;
} */

.name2{
    text-align: center;
    font-size: large;
    text-shadow: 0.5px 0.5px grey;
    border-style: groove;
}
.button{
    background-color: rgb(223, 222, 228);
    padding: 0 25px;
    display: flex;
    height: 40px;
    font-size: xx-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
    border-radius: 5px;
}


.button2{
    background-color: rgb(198, 193, 215);
    font-size: xx-large;
}

.productImg{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.productImg2{
    width: 50%;
}
.item{
    width: 60%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bannerImg{
    margin-top: 15px;
    max-height: auto;
    width: 100%;
    background-size: cover;
}

.title, .motto{
    font-family: 'Electrolize', sans-serif;
    position: absolute;
    font-size: xx-large;
}

.title{
    top: 25%;
    left: 2.5%;
}

.motto{
    top: 30%;
    left: 2.5%;
}

.discount{
    position: absolute;
    right: 5%;
    top: 18%;
    width: 10%;
}

.footer{
    background: linear-gradient(
    to right bottom,
    rgba(196, 182, 182, 0.7),
    rgba(110, 105, 105, 0.3)
  );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.divFooter1, .divFooter2, .divFooter3, .divFooter4{
    width: 25%;
    flex: 1;
    text-shadow: 1px 1px whitesmoke;
}

.cart{
    border-style: groove;
    width: 25%;
}