.productCard,
.cardCategory {
  -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
  box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
  width: 30%;
  display: flex;
  justify-content: center;
  border-width: 5px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin: 20px;
}

.productCard:hover{
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.text {
  text-align: center;
  font-size: xx-large;
  text-shadow: 1px 1px grey;
}

.button {
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    padding: 0 25px;
    display: flex;
    height: 40px;
    font-size: xx-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
    border-radius: 5px;
}

.productImg {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.productImgIndividual{
    width: 80%;
    margin-top: 50px;
}