.productImg2 {
    width: 25%;
  }
  
.cart {
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    flex: 1;
    margin-top: 20px;
    /* margin-right: 40px; */
  }
  
.productContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;

}
  
.divCart1,
.divCart2,
.divCart3 {
    width: 25%;
    flex: 1;
    text-shadow: 1px 1px whitesmoke;
  }
  
.cartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
.checkout {
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    flex: 1;
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-top: 7%;
    
}

.buyNowButton {
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    /* background-color: rgb(223, 222, 228); */
    padding: 0 25px;
    display: flex;
    height: 40px;
    font-size: xx-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px white;
    border-radius: 5px;
}
  