
.footer {
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    background: rgb(236, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
  
.divFooter1,
.divFooter2,
.divFooter3,
.divFooter4 {
    width: 16.6%;
    flex: 1;
    text-shadow: 1px 1px whitesmoke;
}

.divFooter3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.stripe,
.paypal,
.visa {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    right: 8%;
}
  
.divFooter2 {
    display: flex;
    flex-direction: row;
}
  
.divFooter4 {
    position: relative;
    left: 2%;
}