/* *{
    background-color: aliceblue;
} */

.submit{
    -webkit-box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    box-shadow: 5px 5px 9px 3px rgba(0, 0, 0, 0.51);
    font-size: xx-large;
    padding: 8px;
    margin: 10px;
}

.logIn{
    width: 80%;
}

.logInContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}