@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

nav {
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  padding: 5px 10px;
}

nav li a {
  text-decoration: none;
}
